    {% extends "base.html" %}
    {% load staticfiles %}

    {% block content %}
    <div class="container-fluid" id="content_form">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" id="col_box">
                <br>
                <form action="." method="post">{% csrf_token %}
                    {% if form.errors %}
                        <p>에러발생. 입력정보 오류</p>
                    {% endif %}
                    <div class="form_row">
                        <span class="form_label">Username</span>
                        {{ form.username }}
                    </div>
                    <div class="form_row">
                        <span class="form_label">Password1</span>
                        {{ form.password1 }}
                    </div>
                    <div class="form_row">
                        <span class="form_label">Password2</span>
                        {{ form.password2 }}
                    </div>
                    <div class="form_row">
                        <button type="submit" id="r_button">Sign up for us</button>
                    </div>
                </form>
                <br>
            </div>
            <div class="col-sm3"></div>
        </div>
    </div>
    {% endblock content %}