    {% extends "base.html" %}
    {% load staticfiles %}

    {% block content %}
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://djangotest1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <div class="container" id="content">
        <div id="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8 text-center">
                <h1 class="text-center" id="about_title">Review</h1>
                <br>
                <h5 class="text-justify">당신의 Review가 DREAM에 큰 힘이 됩니다.</h5>
                <h5 class="text-justify">DREAM 서비스를 한마디로 평가해주세요.</h5>
                <br>
                <div class="text-center">
                    <img src="{% static 'image/dream_member.jpg' %}" width="100%" class="about_image img-rounded">
                </div>
                <br>
                <div id="disqus_thread"></div>


            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </div>
    {% endblock content %}